---
import { INDEX_PAGE_ID } from "../server-constants.ts";
import Layout from "../layouts/Layout.astro";
import { getAllBlocksByBlockId } from "../lib/notion/client.ts";
import PostBody from "../components/PostBody.astro";
import styles from "../styles/blog.module.css";

const [blocks] = await Promise.all([getAllBlocksByBlockId(INDEX_PAGE_ID)]);
---

<Layout>
  <div class="container">
    <main>
      <PostBody blocks={blocks} />
    </main>
  </div>
</Layout>

<style>
  .container {
    width: 100%;
    max-width: 820px;
    margin: 0 auto;
  }
</style>
