---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <main>
      <h2>Links</h2>
      <ul>
        <li>
          <a href="https://twitter.com/ChabesuB" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://chabelog.com/" target="_blank">チャベログ</a>
        </li>
        <li>
          <a href="https://zatsugaku-engineer.com/" target="_blank"
            >雑学エンジニアブログ</a
          >
        </li>
        <li>
          <a href="https://note.com/chabesu_blog" target="_blank">note</a>
        </li>
        <li>
          <a
            href="https://chabesu-blog.notion.site/Notion-f489b63851104edc84490a0da76381ed"
            target="_blank">Notionのページ</a
          >
        </li>
        <li>
          <a href="https://awetion.vercel.app/" target="_blank"
            >A w e t i o n.</a
          >
        </li>
      </ul>
    </main>
  </div>
</Layout>

<style>
  .container {
    width: 640px;
    max-width: 100%;
    margin: 0 auto;
  }

  .container > main {
    margin-bottom: 40px;
  }
  .container div:last-child {
    margin-bottom: 0;
  }

  .container h2 {
    margin: 0 0 14px;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .container p {
    margin: 0.3rem auto;
    line-height: 2rem;
  }
</style>
